{
    "branches": [
        {name: "master"},
        {name: "next", channel: "next", prerelease: true}
    ],
    "repositoryUrl": "https://github.com/bdsanfelippo/dev-lunch-1.git",
    "plugins": [
        ["@semantic-release/npm", {
            "npmPublish": true
        }]
    ]
}